apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../base

namePrefix: staging-

commonLabels:
  environment: staging

patchesStrategicMerge:
  - |-
    apiVersion: argoproj.io/v1alpha1
    kind: Rollout
    metadata:
      name: zero-downtime-app
    spec:
      replicas: 2
      template:
        spec:
          containers:
            - name: zero-downtime-app
              env:
                - name: APP_ENV
                  value: staging
              resources:
                requests:
                  memory: 64Mi
                  cpu: 250m
                limits:
                  memory: 128Mi
                  cpu: 500m