apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: zero-downtime-app-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Rollout
    name: zero-downtime-app
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
