apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../base

namePrefix: dev-

commonLabels:
  environment: dev

patchesStrategicMerge:
  - |-
    apiVersion: argoproj.io/v1alpha1
    kind: Rollout
    metadata:
      name: zero-downtime-app
    spec:
      replicas: 1
      template:
        spec:
          containers:
            - name: zero-downtime-app
              env:
                - name: APP_ENV
                  value: development
              resources:
                requests:
                  memory: 32Mi
                  cpu: 100m
                limits:
                  memory: 64Mi
                  cpu: 200m