apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../base

namePrefix: prod-

commonLabels:
  environment: production

patchesStrategicMerge:
  - |-
    apiVersion: argoproj.io/v1alpha1
    kind: Rollout
    metadata:
      name: zero-downtime-app
    spec:
      replicas: 3
      template:
        spec:
          containers:
            - name: zero-downtime-app
              env:
                - name: APP_ENV
                  value: production
              resources:
                requests:
                  memory: 128Mi
                  cpu: 500m
                limits:
                  memory: 256Mi
                  cpu: 1000m